{% extends 'base.html.twig' %}

{% block body %}
    <form method="post">
        <input type="text" name="test">
        <button type="submit" name="clic">Validation</button>
    </form>
    {# pour accéder à l'objet Request depuis un template #}
    {{ dump(app.getRequest().getMethod()) }}
    
    {# en notation courte #}
    {{ dump(app.request.method) }}
    
{% endblock %}